# US Tornado data - basic descriptive statistics

In [12]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [13]:
# Import dataset
path = r'C:\Users\lydia\OneDrive\Documents\Career Foundry Data\Data Immersion\Acheivement 6'
df = pd.read_csv(os.path.join(path, 'Prepared Data', 'Tornado Data.csv'), index_col = False)

In [14]:
df.head()

,Unnamed: 0,year,month,day,date,states,mag,injuries,deaths,starting lat,starting lon,ending lat,ending lon,length in miles,width in yards
0,0,1950,1,3,1950-01-03,Illinois,3.0,3,0,39.10,-89.30,39.12,-89.23,3.6,130
1,1,1950,1,3,1950-01-03,Missouri,3.0,3,0,38.77,-90.22,38.83,-90.03,9.5,150
2,2,1950,1,3,1950-01-03,Ohio,1.0,1,0,40.88,-84.58,0.00,0.00,0.1,10
3,3,1950,1,13,1950-01-13,Arkansas,3.0,1,1,34.40,-94.37,0.00,0.00,0.6,17
4,4,1950,1,25,1950-01-25,Illinois,2.0,0,0,41.17,-87.33,0.00,0.00,0.1,100

In [15]:
# Remove unnamed column
df = df.drop(columns = ['Unnamed: 0'])

## Basic Descriptive Statistical Testing

In [16]:
df.describe()

,year,month,day,mag,injuries,deaths,starting lat,starting lon,ending lat,ending lon,length in miles,width in yards
count,67096.000000,67096.000000,67096.000000,66491.000000,67096.000000,67096.000000,67096.000000,67096.000000,67096.000000,67096.000000,67096.000000,67096.000000
mean,1991.427090,5.975751,15.928103,0.781640,1.447344,0.091093,37.140897,-92.745491,22.819001,-56.456826,3.490061,107.048319
std,19.323831,2.443085,8.739900,0.898359,18.326231,1.489188,5.090188,8.687126,18.569959,45.434963,8.280171,206.300547
min,1950.000000,1.000000,1.000000,0.000000,0.000000,0.000000,17.721200,-163.530000,0.000000,-163.530000,0.000000,0.000000
25%,1976.000000,4.000000,8.000000,0.000000,0.000000,0.000000,33.220000,-98.415550,0.000000,-94.720000,0.110000,20.000000
50%,1994.000000,6.000000,16.000000,1.000000,0.000000,0.000000,37.020000,-93.530000,32.520000,-84.507500,0.800000,50.000000
75%,2008.000000,7.000000,24.000000,1.000000,0.000000,0.000000,40.930000,-86.700000,38.630000,0.000000,3.180000,100.000000
max,2021.000000,12.000000,31.000000,5.000000,1740.000000,158.000000,61.020000,-64.715100,61.020000,0.000000,234.700000,4576.000000